In [4]:
import pyspark
import numpy as np
import pandas as pd

spark = pyspark.sql.SparkSession.builder.getOrCreate()

data_langauge = {'Languages': ['python', 'sql', 'c', 'c#', 'java', 'machine langauge', 'html', 'css']}
languages = pd.DataFrame(data = data_langauge)

df = spark.createDataFrame(languages)
df

DataFrame[Languages: string]

In [5]:
df.show(5)

+---------+
|Languages|
+---------+
|   python|
|      sql|
|        c|
|       c#|
|     java|
+---------+
only showing top 5 rows

In [8]:
df.describe().show()

+-------+---------+
|summary|Languages|
+-------+---------+
|  count|        8|
|   mean|     null|
| stddev|     null|
|    min|        c|
|    max|      sql|
+-------+---------+

In [11]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  8  x  1

In [12]:
# Lets work with mpg data set

In [13]:
from pydataset import data

In [25]:
mpg.createOrReplaceTempView("mpg")

In [26]:
spark.sql("""
SELECT hwy , cty, (hwy+ cty) / 2 as Avg
FROM mpg
""").show(5)

+---+---+----+
|hwy|cty| Avg|
+---+---+----+
| 29| 18|23.5|
| 29| 21|25.0|
| 31| 20|25.5|
| 30| 21|25.5|
| 26| 16|21.0|
+---+---+----+
only showing top 5 rows

In [27]:
spark.sql("""
SELECT *
FROM mpg
""").show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [28]:
### Create columns of output that contains message
# The year manugactureer model has a cyl cylinder engine.

In [30]:
from pyspark.sql.functions import *

In [40]:
mpg.select(concat(lit("The "), mpg.year, lit(" "),
          mpg.manufacturer, lit(" "),
          mpg.model, lit(" has a "),
          mpg.cyl, lit(" cylinder engine."))).show(1)

+------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  has a , cyl,  cylinder engine.)|
+------------------------------------------------------------------------------+
|                                                          The 1999 audi a4 ...|
+------------------------------------------------------------------------------+
only showing top 1 row

In [43]:
mpg.where(mpg["trans"].like("auto%")).show(5)

+------------+----------+-----+----+---+--------+---+---+---+---+-------+
|manufacturer|     model|displ|year|cyl|   trans|drv|cty|hwy| fl|  class|
+------------+----------+-----+----+---+--------+---+---+---+---+-------+
|        audi|        a4|  1.8|1999|  4|auto(l5)|  f| 18| 29|  p|compact|
|        audi|        a4|  2.0|2008|  4|auto(av)|  f| 21| 30|  p|compact|
|        audi|        a4|  2.8|1999|  6|auto(l5)|  f| 16| 26|  p|compact|
|        audi|        a4|  3.1|2008|  6|auto(av)|  f| 18| 27|  p|compact|
|        audi|a4 quattro|  1.8|1999|  4|auto(l5)|  4| 16| 25|  p|compact|
+------------+----------+-----+----+---+--------+---+---+---+---+-------+
only showing top 5 rows

In [47]:
mpg.select(mpg.trans,
           when(mpg.trans.like("auto%"), "auto")
                    .otherwise("manual")
           .alias("trans type")).show(5)

+----------+----------+
|     trans|trans type|
+----------+----------+
|  auto(l5)|      auto|
|manual(m5)|    manual|
|manual(m6)|    manual|
|  auto(av)|      auto|
|  auto(l5)|      auto|
+----------+----------+
only showing top 5 rows

In [ ]:
mpg.where(mpg['trans'] == 'auto')