In [4]:
import pyspark
import numpy as np
import pandas as pd

spark = pyspark.sql.SparkSession.builder.getOrCreate()

data_langauge = {'Languages': ['python', 'sql', 'c', 'c#', 'java', 'machine langauge', 'html', 'css']}
languages = pd.DataFrame(data = data_langauge)

df = spark.createDataFrame(languages)
df

DataFrame[Languages: string]

In [5]:
df.show(5)

+---------+
|Languages|
+---------+
|   python|
|      sql|
|        c|
|       c#|
|     java|
+---------+
only showing top 5 rows

In [8]:
df.describe().show()

+-------+---------+
|summary|Languages|
+-------+---------+
|  count|        8|
|   mean|     null|
| stddev|     null|
|    min|        c|
|    max|      sql|
+-------+---------+

In [11]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  8  x  1

In [12]:
# Lets work with mpg data set

In [13]:
from pydataset import data

In [14]:
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [ ]:
mpg.hwy