In [4]:
import pyspark
import numpy as np
import pandas as pd

spark = pyspark.sql.SparkSession.builder.getOrCreate()

data_langauge = {'Languages': ['python', 'sql', 'c', 'c#', 'java', 'machine langauge', 'html', 'css']}
languages = pd.DataFrame(data = data_langauge)

df = spark.createDataFrame(languages)
df

DataFrame[Languages: string]

In [5]:
df.show(5)

+---------+
|Languages|
+---------+
|   python|
|      sql|
|        c|
|       c#|
|     java|
+---------+
only showing top 5 rows

In [8]:
df.describe().show()

+-------+---------+
|summary|Languages|
+-------+---------+
|  count|        8|
|   mean|     null|
| stddev|     null|
|    min|        c|
|    max|      sql|
+-------+---------+

In [11]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  8  x  1

In [12]:
# Lets work with mpg data set

In [13]:
from pydataset import data

In [25]:
mpg.createOrReplaceTempView("mpg")

In [26]:
spark.sql("""
SELECT hwy , cty, (hwy+ cty) / 2 as Avg
FROM mpg
""").show(5)

+---+---+----+
|hwy|cty| Avg|
+---+---+----+
| 29| 18|23.5|
| 29| 21|25.0|
| 31| 20|25.5|
| 30| 21|25.5|
| 26| 16|21.0|
+---+---+----+
only showing top 5 rows

In [27]:
spark.sql("""
SELECT *
FROM mpg
""").show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [28]:
### Create columns of output that contains message
# The year manugactureer model has a cyl cylinder engine.

In [84]:
from pyspark.sql.functions import *

In [49]:
mpg.select(concat(lit("The "), col("year"), lit(" "),
          col("manufacturer"), lit(" "),
          col("model"), lit(" has a "),
          col("cyl"), lit(" cylinder engine."))).show(1, truncate = False)

+------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  has a , cyl,  cylinder engine.)|
+------------------------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                                     |
+------------------------------------------------------------------------------+
only showing top 1 row

In [43]:
mpg.where(mpg["trans"].like("auto%")).show(5)

+------------+----------+-----+----+---+--------+---+---+---+---+-------+
|manufacturer|     model|displ|year|cyl|   trans|drv|cty|hwy| fl|  class|
+------------+----------+-----+----+---+--------+---+---+---+---+-------+
|        audi|        a4|  1.8|1999|  4|auto(l5)|  f| 18| 29|  p|compact|
|        audi|        a4|  2.0|2008|  4|auto(av)|  f| 21| 30|  p|compact|
|        audi|        a4|  2.8|1999|  6|auto(l5)|  f| 16| 26|  p|compact|
|        audi|        a4|  3.1|2008|  6|auto(av)|  f| 18| 27|  p|compact|
|        audi|a4 quattro|  1.8|1999|  4|auto(l5)|  4| 16| 25|  p|compact|
+------------+----------+-----+----+---+--------+---+---+---+---+-------+
only showing top 5 rows

In [47]:
mpg.select(mpg.trans,
           when(mpg.trans.like("auto%"), "auto")
                    .otherwise("manual")
           .alias("trans type")).show(5)

+----------+----------+
|     trans|trans type|
+----------+----------+
|  auto(l5)|      auto|
|manual(m5)|    manual|
|manual(m6)|    manual|
|  auto(av)|      auto|
|  auto(l5)|      auto|
+----------+----------+
only showing top 5 rows

# Part 3

In [51]:
tips = spark.createDataFrame(data("tips"))
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [52]:
# part a

In [53]:
tips.groupBy(tips.smoker).agg(avg(tips.))

In [60]:
tips.groupBy("smoker").agg(avg(tips.smoker).withColumn("smoker", lit("Yes")).show()

SyntaxError: unexpected EOF while parsing (<ipython-input-60-04c4e3eb77cc>, line 1)

In [64]:
tips.groupBy(tips.smoker).agg(avg(tips.smoker)).show()

AnalysisException: Resolved attribute(s) smoker#514 missing from total_bill#511,tip#512,sex#513,smoker#679,day#515,time#516,size#517L in operator !Aggregate [smoker#514], [smoker#514, avg(cast(smoker#514 as double)) AS avg(smoker)#695]. Attribute(s) with the same name appear in the operation: smoker. Please check if the right attribute(s) are used.;
!Aggregate [smoker#514], [smoker#514, avg(cast(smoker#514 as double)) AS avg(smoker)#695]
+- Project [total_bill#511, tip#512, sex#513, Yes AS smoker#679, day#515, time#516, size#517L]
   +- LogicalRDD [total_bill#511, tip#512, sex#513, smoker#514, day#515, time#516, size#517L], false

In [66]:
tips.withColumn("smoker", lit("Yes")).gr

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|   Yes|Sun|Dinner|   2|
|     10.34|1.66|  Male|   Yes|Sun|Dinner|   3|
|     21.01| 3.5|  Male|   Yes|Sun|Dinner|   3|
|     23.68|3.31|  Male|   Yes|Sun|Dinner|   2|
|     24.59|3.61|Female|   Yes|Sun|Dinner|   4|
|     25.29|4.71|  Male|   Yes|Sun|Dinner|   4|
|      8.77| 2.0|  Male|   Yes|Sun|Dinner|   2|
|     26.88|3.12|  Male|   Yes|Sun|Dinner|   4|
|     15.04|1.96|  Male|   Yes|Sun|Dinner|   2|
|     14.78|3.23|  Male|   Yes|Sun|Dinner|   2|
|     10.27|1.71|  Male|   Yes|Sun|Dinner|   2|
|     35.26| 5.0|Female|   Yes|Sun|Dinner|   4|
|     15.42|1.57|  Male|   Yes|Sun|Dinner|   2|
|     18.43| 3.0|  Male|   Yes|Sun|Dinner|   4|
|     14.83|3.02|Female|   Yes|Sun|Dinner|   2|
|     21.58|3.92|  Male|   Yes|Sun|Dinner|   2|
|     10.33|1.67|Female|   Yes|Sun|Dinner|   3|
|     16.29|3.71|  Male|   Yes|Sun|Dinner|   3|
|     16.97| 3.5|Female|   Yes|Sun|Dinner|   3|
|     20.65|3.35|  Male|   Yes|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [69]:
tips.groupBy(tips.smoker).agg(avg(tips.withColumn("smoker", lit("Yes"))))

TypeError: Invalid argument, not a string or column: DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint] of type <class 'pyspark.sql.dataframe.DataFrame'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [74]:
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [73]:
tips.select(tips.smoker).withColumn("ratio", tips.smoker / lit("Yes")).show()

+------+-----+
|smoker|ratio|
+------+-----+
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
+------+-----+
only showing top 20 rows

In [75]:
tips.groupBy("smoker").count().show()

+------+-----+
|smoker|count|
+------+-----+
|    No|  151|
|   Yes|   93|
+------+-----+

In [89]:
tips.groupBy("smoker").count().withColumn("percent", round((col("count") / tips.count())* 100, 2)).show()

+------+-----+-------+
|smoker|count|percent|
+------+-----+-------+
|    No|  151|  61.89|
|   Yes|   93|  38.11|
+------+-----+-------+

In [90]:
#part b

In [91]:
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [98]:
tips.withColumn("tip_percnt", col("tip")/ col("total_bill")).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|         tip_percnt|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [ ]:
#part c

In [103]:
tips.withColumn("tip_percnt", col("tip")/ col("total_bill")).groupby("sex").pivot("smoker").avg("tip").show()

+------+-----------------+-----------------+
|   sex|               No|              Yes|
+------+-----------------+-----------------+
|Female|2.773518518518518|2.931515151515151|
|  Male| 3.11340206185567|3.051166666666667|
+------+-----------------+-----------------+

# Part 4

In [105]:
from vega_datasets import data

weather = data.seattle_weather().assign(data = lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)

weather.show(5)

+-------------------+-------------+--------+--------+----+-------+----------+
|               date|precipitation|temp_max|temp_min|wind|weather|      data|
+-------------------+-------------+--------+--------+----+-------+----------+
|2012-01-01 00:00:00|          0.0|    12.8|     5.0| 4.7|drizzle|2012-01-01|
|2012-01-02 00:00:00|         10.9|    10.6|     2.8| 4.5|   rain|2012-01-02|
|2012-01-03 00:00:00|          0.8|    11.7|     7.2| 2.3|   rain|2012-01-03|
|2012-01-04 00:00:00|         20.3|    12.2|     5.6| 4.7|   rain|2012-01-04|
|2012-01-05 00:00:00|          1.3|     8.9|     2.8| 6.1|   rain|2012-01-05|
+-------------------+-------------+--------+--------+----+-------+----------+
only showing top 5 rows

In [106]:
#part a

In [108]:
weather.withColumn('temp_m_fahr', col('temp_max') + 32).withColumn('temp_min_fahr', col('temp_min') + 32).show()

+-------------------+-------------+--------+--------+----+-------+----------+-----------+-------------+
|               date|precipitation|temp_max|temp_min|wind|weather|      data|temp_m_fahr|temp_min_fahr|
+-------------------+-------------+--------+--------+----+-------+----------+-----------+-------------+
|2012-01-01 00:00:00|          0.0|    12.8|     5.0| 4.7|drizzle|2012-01-01|       44.8|         37.0|
|2012-01-02 00:00:00|         10.9|    10.6|     2.8| 4.5|   rain|2012-01-02|       42.6|         34.8|
|2012-01-03 00:00:00|          0.8|    11.7|     7.2| 2.3|   rain|2012-01-03|       43.7|         39.2|
|2012-01-04 00:00:00|         20.3|    12.2|     5.6| 4.7|   rain|2012-01-04|       44.2|         37.6|
|2012-01-05 00:00:00|          1.3|     8.9|     2.8| 6.1|   rain|2012-01-05|       40.9|         34.8|
|2012-01-06 00:00:00|          2.5|     4.4|     2.2| 2.2|   rain|2012-01-06|       36.4|         34.2|
|2012-01-07 00:00:00|          0.0|     7.2|     2.8| 2.3|   rain|2012-01-07|       39.2|         34.8|
|2012-01-08 00:00:00|          0.0|    10.0|     2.8| 2.0|    sun|2012-01-08|       42.0|         34.8|
|2012-01-09 00:00:00|          4.3|     9.4|     5.0| 3.4|   rain|2012-01-09|       41.4|         37.0|
|2012-01-10 00:00:00|          1.0|     6.1|     0.6| 3.4|   rain|2012-01-10|       38.1|         32.6|
|2012-01-11 00:00:00|          0.0|     6.1|    -1.1| 5.1|    sun|2012-01-11|       38.1|         30.9|
|2012-01-12 00:00:00|          0.0|     6.1|    -1.7| 1.9|    sun|2012-01-12|       38.1|         30.3|
|2012-01-13 00:00:00|          0.0|     5.0|    -2.8| 1.3|    sun|2012-01-13|       37.0|         29.2|
|2012-01-14 00:00:00|          4.1|     4.4|     0.6| 5.3|   snow|2012-01-14|       36.4|         32.6|
|2012-01-15 00:00:00|          5.3|     1.1|    -3.3| 3.2|   snow|2012-01-15|       33.1|         28.7|
|2012-01-16 00:00:00|          2.5|     1.7|    -2.8| 5.0|   snow|2012-01-16|       33.7|         29.2|
|2012-01-17 00:00:00|          8.1|     3.3|     0.0| 5.6|   snow|2012-01-17|       35.3|         32.0|
|2012-01-18 00:00:00|         19.8|     0.0|    -2.8| 5.0|   snow|2012-01-18|       32.0|         29.2|
|2012-01-19 00:00:00|         15.2|    -1.1|    -2.8| 1.6|   snow|2012-01-19|       30.9|         29.2|
|2012-01-20 00:00:00|         13.5|     7.2|    -1.1| 2.3|   snow|2012-01-20|       39.2|         30.9|
+-------------------+-------------+--------+--------+----+-------+----------+-----------+-------------+
only showing top 20 rows

In [109]:
weather = weather.withColumn("temp_avg", expr("ROUND(temp_min + temp_max) / 2")).drop("temp_max", "temp_min")

weather.show(5)

+-------------------+-------------+----+-------+----------+--------+
|               date|precipitation|wind|weather|      data|temp_avg|
+-------------------+-------------+----+-------+----------+--------+
|2012-01-01 00:00:00|          0.0| 4.7|drizzle|2012-01-01|     9.0|
|2012-01-02 00:00:00|         10.9| 4.5|   rain|2012-01-02|     6.5|
|2012-01-03 00:00:00|          0.8| 2.3|   rain|2012-01-03|     9.5|
|2012-01-04 00:00:00|         20.3| 4.7|   rain|2012-01-04|     9.0|
|2012-01-05 00:00:00|          1.3| 6.1|   rain|2012-01-05|     6.0|
+-------------------+-------------+----+-------+----------+--------+
only showing top 5 rows

In [112]:
weather.withColumn('temp_fahr', col('temp_avg') + 32).show()

+-------------------+-------------+----+-------+----------+--------+---------+
|               date|precipitation|wind|weather|      data|temp_avg|temp_fahr|
+-------------------+-------------+----+-------+----------+--------+---------+
|2012-01-01 00:00:00|          0.0| 4.7|drizzle|2012-01-01|     9.0|     41.0|
|2012-01-02 00:00:00|         10.9| 4.5|   rain|2012-01-02|     6.5|     38.5|
|2012-01-03 00:00:00|          0.8| 2.3|   rain|2012-01-03|     9.5|     41.5|
|2012-01-04 00:00:00|         20.3| 4.7|   rain|2012-01-04|     9.0|     41.0|
|2012-01-05 00:00:00|          1.3| 6.1|   rain|2012-01-05|     6.0|     38.0|
|2012-01-06 00:00:00|          2.5| 2.2|   rain|2012-01-06|     3.5|     35.5|
|2012-01-07 00:00:00|          0.0| 2.3|   rain|2012-01-07|     5.0|     37.0|
|2012-01-08 00:00:00|          0.0| 2.0|    sun|2012-01-08|     6.5|     38.5|
|2012-01-09 00:00:00|          4.3| 3.4|   rain|2012-01-09|     7.0|     39.0|
|2012-01-10 00:00:00|          1.0| 3.4|   rain|2012-01-10|     3.5|     35.5|
|2012-01-11 00:00:00|          0.0| 5.1|    sun|2012-01-11|     2.5|     34.5|
|2012-01-12 00:00:00|          0.0| 1.9|    sun|2012-01-12|     2.0|     34.0|
|2012-01-13 00:00:00|          0.0| 1.3|    sun|2012-01-13|     1.0|     33.0|
|2012-01-14 00:00:00|          4.1| 5.3|   snow|2012-01-14|     2.5|     34.5|
|2012-01-15 00:00:00|          5.3| 3.2|   snow|2012-01-15|    -1.0|     31.0|
|2012-01-16 00:00:00|          2.5| 5.0|   snow|2012-01-16|    -0.5|     31.5|
|2012-01-17 00:00:00|          8.1| 5.6|   snow|2012-01-17|     1.5|     33.5|
|2012-01-18 00:00:00|         19.8| 5.0|   snow|2012-01-18|    -1.5|     30.5|
|2012-01-19 00:00:00|         15.2| 1.6|   snow|2012-01-19|    -2.0|     30.0|
|2012-01-20 00:00:00|         13.5| 2.3|   snow|2012-01-20|     3.0|     35.0|
+-------------------+-------------+----+-------+----------+--------+---------+
only showing top 20 rows

In [113]:
# part b
# which month has the most rain on avearage

In [124]:
(
weather.withColumn("month", month("date"))
    .groupBy("month")
    .agg(avg("precipitation").alias("avg_rainfall"))
    .sort("month").show()
)

+-----+-------------------+
|month|       avg_rainfall|
+-----+-------------------+
|    1| 3.7580645161290316|
|    2|  3.734513274336283|
|    3|  4.888709677419355|
|    4|  3.128333333333333|
|    5| 1.6733870967741935|
|    6| 1.1075000000000002|
|    7|0.38870967741935486|
|    8| 1.3201612903225806|
|    9| 1.9624999999999997|
|   10|  4.059677419354839|
|   11|  5.354166666666667|
|   12|  5.021774193548389|
+-----+-------------------+

In [125]:
#part c
# which year was the windiest

In [126]:
#part d
# what is the most frequesnt type of weather in january

In [127]:
#part e
# what is the avg high and low temp on a sunny days in july in 2013 and 2014

In [128]:
#part f
# what percentage of days were rainy in q3 of 2015

In [ ]:
#part g
# for each year, find what percentage of days it rained