In [4]:
import pyspark
import numpy as np
import pandas as pd

spark = pyspark.sql.SparkSession.builder.getOrCreate()

data_langauge = {'Languages': ['python', 'sql', 'c', 'c#', 'java', 'machine langauge', 'html', 'css']}
languages = pd.DataFrame(data = data_langauge)

df = spark.createDataFrame(languages)
df

DataFrame[Languages: string]

In [5]:
df.show(5)

+---------+
|Languages|
+---------+
|   python|
|      sql|
|        c|
|       c#|
|     java|
+---------+
only showing top 5 rows

In [8]:
df.describe().show()

+-------+---------+
|summary|Languages|
+-------+---------+
|  count|        8|
|   mean|     null|
| stddev|     null|
|    min|        c|
|    max|      sql|
+-------+---------+

In [11]:
print("DataFrame shape: ", df.count(), " x ", len(df.columns))

DataFrame shape:  8  x  1

In [12]:
# Lets work with mpg data set

In [13]:
from pydataset import data

In [25]:
mpg.createOrReplaceTempView("mpg")

In [26]:
spark.sql("""
SELECT hwy , cty, (hwy+ cty) / 2 as Avg
FROM mpg
""").show(5)

+---+---+----+
|hwy|cty| Avg|
+---+---+----+
| 29| 18|23.5|
| 29| 21|25.0|
| 31| 20|25.5|
| 30| 21|25.5|
| 26| 16|21.0|
+---+---+----+
only showing top 5 rows

In [27]:
spark.sql("""
SELECT *
FROM mpg
""").show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [28]:
### Create columns of output that contains message
# The year manugactureer model has a cyl cylinder engine.

In [84]:
from pyspark.sql.functions import *

In [49]:
mpg.select(concat(lit("The "), col("year"), lit(" "),
          col("manufacturer"), lit(" "),
          col("model"), lit(" has a "),
          col("cyl"), lit(" cylinder engine."))).show(1, truncate = False)

+------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  has a , cyl,  cylinder engine.)|
+------------------------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                                     |
+------------------------------------------------------------------------------+
only showing top 1 row

In [43]:
mpg.where(mpg["trans"].like("auto%")).show(5)

+------------+----------+-----+----+---+--------+---+---+---+---+-------+
|manufacturer|     model|displ|year|cyl|   trans|drv|cty|hwy| fl|  class|
+------------+----------+-----+----+---+--------+---+---+---+---+-------+
|        audi|        a4|  1.8|1999|  4|auto(l5)|  f| 18| 29|  p|compact|
|        audi|        a4|  2.0|2008|  4|auto(av)|  f| 21| 30|  p|compact|
|        audi|        a4|  2.8|1999|  6|auto(l5)|  f| 16| 26|  p|compact|
|        audi|        a4|  3.1|2008|  6|auto(av)|  f| 18| 27|  p|compact|
|        audi|a4 quattro|  1.8|1999|  4|auto(l5)|  4| 16| 25|  p|compact|
+------------+----------+-----+----+---+--------+---+---+---+---+-------+
only showing top 5 rows

In [47]:
mpg.select(mpg.trans,
           when(mpg.trans.like("auto%"), "auto")
                    .otherwise("manual")
           .alias("trans type")).show(5)

+----------+----------+
|     trans|trans type|
+----------+----------+
|  auto(l5)|      auto|
|manual(m5)|    manual|
|manual(m6)|    manual|
|  auto(av)|      auto|
|  auto(l5)|      auto|
+----------+----------+
only showing top 5 rows

# Part 3

In [51]:
tips = spark.createDataFrame(data("tips"))
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [52]:
# part a

In [53]:
tips.groupBy(tips.smoker).agg(avg(tips.))

In [60]:
tips.groupBy("smoker").agg(avg(tips.smoker).withColumn("smoker", lit("Yes")).show()

SyntaxError: unexpected EOF while parsing (<ipython-input-60-04c4e3eb77cc>, line 1)

In [64]:
tips.groupBy(tips.smoker).agg(avg(tips.smoker)).show()

AnalysisException: Resolved attribute(s) smoker#514 missing from total_bill#511,tip#512,sex#513,smoker#679,day#515,time#516,size#517L in operator !Aggregate [smoker#514], [smoker#514, avg(cast(smoker#514 as double)) AS avg(smoker)#695]. Attribute(s) with the same name appear in the operation: smoker. Please check if the right attribute(s) are used.;
!Aggregate [smoker#514], [smoker#514, avg(cast(smoker#514 as double)) AS avg(smoker)#695]
+- Project [total_bill#511, tip#512, sex#513, Yes AS smoker#679, day#515, time#516, size#517L]
   +- LogicalRDD [total_bill#511, tip#512, sex#513, smoker#514, day#515, time#516, size#517L], false

In [66]:
tips.withColumn("smoker", lit("Yes")).gr

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|   Yes|Sun|Dinner|   2|
|     10.34|1.66|  Male|   Yes|Sun|Dinner|   3|
|     21.01| 3.5|  Male|   Yes|Sun|Dinner|   3|
|     23.68|3.31|  Male|   Yes|Sun|Dinner|   2|
|     24.59|3.61|Female|   Yes|Sun|Dinner|   4|
|     25.29|4.71|  Male|   Yes|Sun|Dinner|   4|
|      8.77| 2.0|  Male|   Yes|Sun|Dinner|   2|
|     26.88|3.12|  Male|   Yes|Sun|Dinner|   4|
|     15.04|1.96|  Male|   Yes|Sun|Dinner|   2|
|     14.78|3.23|  Male|   Yes|Sun|Dinner|   2|
|     10.27|1.71|  Male|   Yes|Sun|Dinner|   2|
|     35.26| 5.0|Female|   Yes|Sun|Dinner|   4|
|     15.42|1.57|  Male|   Yes|Sun|Dinner|   2|
|     18.43| 3.0|  Male|   Yes|Sun|Dinner|   4|
|     14.83|3.02|Female|   Yes|Sun|Dinner|   2|
|     21.58|3.92|  Male|   Yes|Sun|Dinner|   2|
|     10.33|1.67|Female|   Yes|Sun|Dinner|   3|
|     16.29|3.71|  Male|   Yes|Sun|Dinner|   3|
|     16.97| 3.5|Female|   Yes|Sun|Dinner|   3|
|     20.65|3.35|  Male|   Yes|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [69]:
tips.groupBy(tips.smoker).agg(avg(tips.withColumn("smoker", lit("Yes"))))

TypeError: Invalid argument, not a string or column: DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: bigint] of type <class 'pyspark.sql.dataframe.DataFrame'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [74]:
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [73]:
tips.select(tips.smoker).withColumn("ratio", tips.smoker / lit("Yes")).show()

+------+-----+
|smoker|ratio|
+------+-----+
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
|    No| null|
+------+-----+
only showing top 20 rows

In [75]:
tips.groupBy("smoker").count().show()

+------+-----+
|smoker|count|
+------+-----+
|    No|  151|
|   Yes|   93|
+------+-----+

In [89]:
tips.groupBy("smoker").count().withColumn("percent", round((col("count") / tips.count())* 100, 2)).show()

+------+-----+-------+
|smoker|count|percent|
+------+-----+-------+
|    No|  151|  61.89|
|   Yes|   93|  38.11|
+------+-----+-------+

In [90]:
#part b

In [91]:
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

In [98]:
tips.withColumn("tip_percnt", col("tip")/ col("total_bill")).show()

+----------+----+------+------+---+------+----+-------------------+
|total_bill| tip|   sex|smoker|day|  time|size|         tip_percnt|
+----------+----+------+------+---+------+----+-------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|0.05944673337257211|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|0.16054158607350097|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|0.16658733936220846|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2| 0.1397804054054054|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|0.14680764538430255|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|0.18623962040332148|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|0.22805017103762829|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|0.11607142857142858|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|0.13031914893617022|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2| 0.2185385656292287|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2| 0.1665043816942551|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|0.14180374361883155|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|0.10181582360570687|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|0.16277807921866522|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|0.20364126770060686|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|0.18164967562557924|
|     10.33|1.67|Female|    No|Sun|Dinner|   3| 0.1616650532429816|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|0.22774708410067526|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|0.20624631703005306|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|0.16222760290556903|
+----------+----+------+------+---+------+----+-------------------+
only showing top 20 rows

In [ ]:
#part c

In [103]:
tips.withColumn("tip_percnt", col("tip")/ col("total_bill")).groupby("sex").pivot("smoker").avg("tip").show()

+------+-----------------+-----------------+
|   sex|               No|              Yes|
+------+-----------------+-----------------+
|Female|2.773518518518518|2.931515151515151|
|  Male| 3.11340206185567|3.051166666666667|
+------+-----------------+-----------------+